:root{
    font-family: "Calibri", sans-serif;
    --board-size: 3;
}

div {
    border: 1px dashed red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2em;
}

.game-container .players {
    display: flex;
    justify-content: space-between;
}

.player-card {
    display: flex;
    align-items: stretch;
    padding: 0.2em;
    border: 1px solid grey;
}

.active-player {
    box-shadow: 3px;
    background-color: yellow;
}

.player-one-token,
.player-two-token {
    padding: 1em;
    border-right: 1px solid grey;
}

.player-one-name,
.player-two-name {
    padding: 1em;
}

.hidden {
    display: none;
}

.board-container {
    width: 30em;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
    border: 1px solid black;
    margin: 3rem;
    padding: 0.2em;
    gap: 0.2em;
    background-color: blueviolet;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 3em;
}

.cell.won {
    background-color: yellow;
}

.cell:hover {
    cursor: pointer;
    background-color: orange;
}

.game-button {
    fill: black;
    padding: 0.5rem;
    background-color: white;
}

.disabled-button {
    fill: lightgrey;
}

.toolbar-icon {
    width: 2rem;
    height: 2rem;
}

.dropdown-icon {
    width: 1rem;
    height: 1rem;
}